{% extends 'base.html' %}
{% load fontawesome %}

{% block title %}Your Tasks{% endblock %}

{% block content %}
<h2>Tasks of "{{ project.name }}"</h2>
<a
        role="button"
        class="btn btn-primary"
        href="{% url 'adastra:create_task_list' project.id %}">
    Add task list
</a>
<a
        role="button"
        class="btn btn-outline-primary"
        href="{% url 'adastra:plans' project.id %}">
    Plans
</a>
<a
        role="button"
        class="btn btn-outline-primary"
        href="{% url 'adastra:users' project.id %}">
    Users
</a>
<div class="clearfix"></div>
<div class="flex-container">
    {% for task_list in task_lists %}
    <div class="flex-container__item min-height-100px background-lightgray margin-top-bottom-10px padding-10px border-radius-5px">
        <span class="task-list-title">{{ task_list.name }}</span>
        <div class="float-right inline-block margin-10px">
            <a
                    role="button"
                    class="btn btn-success"
                    href="{% url 'adastra:create_task' project.id task_list.id %}">
                {% fontawesome_icon 'plus' %}
            </a>
            <a
                    role="button"
                    class="btn btn-primary"
                    href="{% url 'adastra:edit_task_list' project.id task_list.id %}">
                {% fontawesome_icon 'pencil' %}
            </a>
            <form
                    class="inline-block"
                    method="post"
                    action="{% url 'adastra:delete_task_list' project.id task_list.id %}">
                {% csrf_token %}
                <button
                        type="submit"
                        class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this task list?');">
                    {% fontawesome_icon 'trash' %}
                </button>
            </form>
        </div>
        <div class="clearfix"></div>
        <div class="flex-container--row inner-shadow min-height-100px background-light margin-10px padding-10px border-radius-5px">
            {% for task in task_list.taskmodel_set.all %}
            <div class="task margin-10px">

                <div class="float-right">
                    <a
                            role="button"
                            class="btn btn-success btn-sm"
                            href="{% url 'adastra:show_task' project.id task.id %}">
                        {% fontawesome_icon 'eye' %}
                    </a>
                    <a
                            role="button"
                            class="btn btn-primary btn-sm"
                            href="{% url 'adastra:edit_task' project.id task.id %}">
                        {% fontawesome_icon 'pencil' %}
                    </a>
                    <form
                            class="inline-block"
                            method="post"
                            action="{% url 'adastra:delete_task' project.id task.id %}">
                        {% csrf_token %}
                        <button
                                type="submit"
                                class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this task list?');">
                            {% fontawesome_icon 'trash' %}
                        </button>
                    </form>
                </div>
                <div style="display: inline-block; margin-right: 10px;">
                    {% if task.priority == 2 %}
                        {% fontawesome_icon 'arrow-up' color='red' %}
                    {% endif %}
                    {% if task.priority == 1 %}
                        {% fontawesome_icon 'arrow-up' color='orange' %}
                    {% endif %}
                    {% if task.priority == 0 %}
                        {% fontawesome_icon 'arrow-up' color='green' %}
                    {% endif %}
                </div>
                <div style="display: inline-block;">
                    {% if task.status == 2 %}
                        <span class="badge badge-pill badge-secondary">done</span>
                    {% endif %}
                    {% if task.status == 1 %}
                        <span class="badge badge-pill badge-success">in work</span>
                    {% endif %}
                    {% if task.status == 0 %}
                        <span class="badge badge-pill badge-primary">open</span>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <!--<div class="clearfix"></div>-->
                <span class="task__title">{{task.name}}</span>

            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
